name: Centralized CI Actions

on:
  pull_request:
  push:
    branches:
      - master

defaults:
  run:
    shell: bash

jobs:
  centralized-ci:
    uses: ticketplatform-ca/github-action-workflows/.github/workflows/centralized-ci.yml@master
    permissions:
      id-token: write
      contents: read
    secrets: inherit
